@import "./media.scss";

@font-face {
    font-family: 'YekanBakh';
    font-weight: 200;
    src: url(../asset//font/bold/YekanBakh-Bold.ttf) format('ttf'),
        url(../asset/font/bold/YekanBakh-Bold.woff) format('woff'),
        url(../asset/font/bold/YekanBakh-Bold.woff2) format('woff2'),
}

@font-face {
    font-family: 'YekanBakh';
    font-weight: 100;
    src: url(../asset//font/medium/YekanBakh-Medium.ttf) format('ttf'),
        url(../asset/font/medium/YekanBakh-Medium.woff) format('woff'),
        url(../asset/font/medium/YekanBakh-Medium.woff2) format('woff2'),
}

body {
    direction: rtl;
    box-sizing: border-box;
    margin: 0;
    font-family: 'YekanBakh';

    button {
        &:focus {
            outline: none !important;
        }
    }
}

.projectList {
    background-color: #F5F7FA;

    &__section {
        padding-right: 15px;
        padding-left: 15px;
        padding-top: calc(3%);
        max-width: 70%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 150px;

        &__title {
            display: grid;
            justify-content: center;
            text-align: center;

            h2 {
                font-weight: 100;
                font-size: 40px;
                color: #0B3A42;
            }

            span {
                font-weight: 100;
                font-size: 18px;
                color: #155A6D;
            }
        }

        &__nav {
            &__navtabs {
                margin-top: 46px;
                display: flex;
                gap: 26px;

                &__item {
                    cursor: pointer;
                    padding: 17px 40px;
                    background-color: #E7ECF4;
                    border-top-left-radius: 16px;
                    border-top-right-radius: 16px;

                    span {
                        font-size: 19px;
                        color: #6A7D9B;
                    }

                    &.active {
                        background-color: white;
                    }
                }
            }

            &__contents {
                background-color: white;
                min-height: 500px;
                padding: 27px 0;

                &__pane {
                    max-width: 90%;
                    margin: auto;
                    display: none;

                    &.active {
                        display: block;
                    }

                    .card {
                        padding: 24px;
                        border-bottom: 1px solid #D8E1EF;

                        &.open {
                            border: 2px solid #20C5BA;
                            border-radius: 16px;
                            padding: 30px;

                            .card__header__title__icon {
                                background-color: #20C5BA;

                                &--up {
                                    display: block;
                                }

                                &--down {
                                    display: none;
                                }
                            }
                        }

                        &__header {
                            &__title {
                                cursor: pointer;
                                background: transparent;
                                border: none;
                                font-size: 18px;
                                color: #4D4D4D;
                                font-weight: 100;
                                display: flex;
                                width: 100%;
                                justify-content: space-between;

                                &__icon {
                                    padding: 5px;
                                    border-radius: 50%;
                                    background-color: #E7ECF4;

                                    &--up {
                                        display: none;
                                    }

                                    &--down {
                                        display: block;
                                    }
                                }

                            }
                        }

                        &__collapse {
                            display: none;

                            &.show {
                                display: block;
                            }

                            &__body {
                                &__mobileSendSuguest {
                                    display: none;
                                }

                                &__summarize {
                                    display: flex;
                                    justify-content: space-between;

                                    &__block {
                                        width: calc(100% / 4 - 65px);
                                        text-align: center;
                                        display: flex;
                                        background: #F6F8FB;
                                        border-radius: 16px;
                                        padding: 25px;
                                        justify-content: center;
                                        align-items: center;
                                        flex-direction: column;
                                        gap: 5px;

                                        span {
                                            &.title {
                                                margin-top: 5px;
                                                font-size: 16px;
                                                font-weight: 200;
                                                color: #253343;
                                            }

                                            &.content {
                                                font-size: 16px;
                                                font-weight: 100;
                                                color: #6A7D9B;
                                            }
                                        }
                                    }
                                }

                                &__define {
                                    ul {
                                        list-style: none;

                                        li {
                                            font-size: 16px;
                                            color: #6A7D9B;
                                            font-weight: 100;

                                            &::before {
                                                content: "\2022";
                                                color: #20C5BA;
                                                font-weight: bold;
                                                display: inline-block;
                                                width: 1em;
                                                margin-right: -1em;
                                            }
                                        }
                                    }

                                    &__title {
                                        display: flex;
                                        gap: 15px;
                                        margin-top: 40px;
                                        color: #253343;
                                        font-size: 16px;
                                        font-weight: 200;
                                    }
                                }

                                &__source {
                                    border: 2px solid #E7ECF4;
                                    border-radius: 16px;
                                    padding: 25px;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;

                                    &__mobileLink {
                                        display: none;
                                    }

                                    .source__link {
                                        display: flex;
                                        gap: 15px;

                                        &__content {
                                            display: grid;

                                            .title {
                                                font-size: 16px;
                                                font-weight: 200;
                                                color: #253343;
                                            }

                                            .link {
                                                font-size: 16px;
                                                font-weight: 200;
                                                color: #6A7D9B;
                                            }
                                        }
                                    }

                                    .source__author {
                                        border: 2px solid #D8E1EF;
                                        border-radius: 12px;
                                        padding: 8px 20px;
                                        display: flex;
                                        align-items: center;

                                        span {
                                            font-size: 16px;
                                            font-weight: 200;
                                            color: #6A7D9B;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.courseStructure {
    background-color: #EEF2F7;

    &__section {
        padding-right: 15px;
        padding-left: 15px;
        padding-top: calc(3%);
        padding-bottom: 150px;
        max-width: 70%;
        margin-right: auto;
        margin-left: auto;

        hr {
            color: #9DB0CB;
            opacity: 20%;
            margin-top: -1px;
        }

        &__title {
            display: flex;
            gap: 16px;

            h2 {
                font-size: 40px;
                font-weight: 100;
                color: #0B3A42;
            }
        }

        &__description {
            font-size: 18px;
            font-weight: 100;
            color: #155A6D;
        }

        &__nav {
            &__navtabs {
                width: 80%;
                display: flex;
                justify-content: space-between;
                margin: auto;
                margin-top: 50px;
                color: #9DB0CB;
                font-size: 18px;
                font-weight: 100;

                a {
                    cursor: pointer;
                }

                &__item {
                    &.activeCourse {
                        border-bottom: 2.5px solid #20C5BA;

                        span {
                            color: #042623;
                        }
                    }
                }
            }

            &__contents {
                &__pane {
                    width: 80%;
                    margin: auto;
                    padding: 35px;
                    box-sizing: border-box;
                    border: 2px solid #20C5BA;
                    margin-top: 40px;
                    border-radius: 16px;
                    background-color: white;
                    min-height: 250px;
                    display: none;
                    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);

                    &.active {
                        display: block;
                    }

                    &__content {
                        h2 {
                            font-size: 24px;
                            font-weight: 200;
                            color: #0E7571;
                        }

                        p {
                            font-size: 18px;
                            font-weight: 100;
                            color: #697D9A;
                        }

                        h3 {
                            font-size: 18px;
                            font-weight: 200;
                            color: #20C5BA;
                        }
                    }
                }
            }
        }
    }
}

.submit {
    background-color: white;
    .requireSign{
        font-size: 16px;
        font-weight: 200;
        color: #20C5BA;
    }
    &__section {
        padding-right: 15px;
        padding-left: 15px;
        padding-top: calc(3%);
        padding-bottom: 150px;
        max-width: 70%;
        margin-right: auto;
        margin-left: auto;

        &__title {
            margin-bottom: 45px;

            h2 {
                font-size: 24px;
                font-weight: 200;
                color: #042623;
            }

            span {
                font-size: 16px;
                font-weight: 100;
                color: #6E6E6E;
            }
        }

        &__content {
            &__form {
                .inputTiltle{
                    font-size: 16px;
                    font-weight: 200;
                    color: #585858;
                }
                &__field {
                    padding: 20px;
                    background-color: #F5F7FA;
                    border-radius: 16px;
                    margin-bottom: 24px;

                    h3 {
                        font-size: 22px;
                        font-weight: 100;
                        color: #155A6D;
                    }

                    &__personalInfo {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;

                        &__input {
                            width: 40%;
                            display: flex;
                            justify-content: space-between;
                            margin: 10px 2.5%;
                            align-items: center;
                            ::placeholder{
                                font-size: 16px;
                                font-weight: 100;
                                color: #9DB0CB;
                                font-family: 'YekanBakh';
                            }

                            span {
                                font-size: 16px;
                                font-weight: 200;
                                color: #585858;
                            }

                            input {
                                border-radius: 12px;
                                border: 1px solid #DBE4F2;
                                width: 75%;
                                padding: 10px;
                            }
                        }
                    }

                    &__resume {
                        display: flex;
                        flex-wrap: wrap;
                        width: 83%;
                        margin: auto;
                        gap: 40px;
                        .uploadFile{
                            &.sizeError{
                                border: 1px solid #F77D7D;
                                .uploadFile__button{
                                    color: #FE5959;
                                }
                            }
                            input[type="file"] {
                                display: none;
                            }
                            width: 80%;
                            display: flex;
                            justify-content: space-between;
                            border: 1px solid #DBE4F2;
                            border-radius: 12px;
                            background: white;
                            &__button{
                                padding: 5px 9px;
                                border: 1px solid #DBE4F2;
                                background-color: #EEF2F7;
                                border-radius: 12px;
                                font-size: 16px;
                                font-weight: 200;
                                color: #9DB0CB;
                            }
                            &__filename{
                                font-size: 14px;
                                font-weight: 100;
                                color: #20C5BA;
                                align-items: center;
                                display: flex;
                                padding: 4px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                max-width: 13ch;
                            }
                           
                        }
                        .uploadInputField{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            flex-direction: column;
                            &__contetn{
                                display: flex;
                                width: 100%;
                                align-items: center;
                                gap: 15px;
                            }
                            .uploadFileNotif{
                                font-size: 14px;
                                font-weight: 100;
                                color: #9DB0CB;
                                width: 100%;
                                text-align: left;
                                margin: 10px 0;
                                &.Error{
                                    color: #FE5959;
                                }
                            }
                        }
                        &__resumeDoc{
                            width: calc( 100% / 2 - 20px );
                            
                        }
                        &__potfolio{
                            width: calc( 100% / 2 - 20px );
                        }
                    }

                    &__description {
                        display: flex;
                        flex-wrap: wrap;
                        width: 83%;
                        margin: auto;
                        gap: 40px;
                        justify-content: space-between;
                        gap: 40px;

                        select {
                            width: 75%;
                            border-radius: 12px;
                            border: none;
                            padding: 10px;
                            background-color: #E7ECF4;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            background-image: url("../asset/Component\ 20\ –\ 27.svg");
                            background-repeat: no-repeat;
                            background-position-x: 5%;
                            background-position-y: 50%;
                            font-size: 16px;
                            color: #6A7D9B;
                            font-weight: 100;
                            font-family: 'YekanBakh';
                            &:focus-visible {
                                outline: none !important;
                            }
                        }
                        option{
                            background-color: white;
                            border: 2px solid #D5DDE7;
                            border-radius: 12px;
                            padding: 20px;
                            font-size: 16px;
                            color: #6A7D9B;
                            font-weight: 100;
                            font-family: 'YekanBakh';
                        }

                        &__kind {
                            width: calc( 100% / 2 - 20px );
                            display: flex;
                            gap: 15px;
                            margin: 10px 0;
                            align-items: center;
                        }

                        &__level {
                            align-items: center;
                            width: calc( 100% / 2 - 20px );
                            display: flex;
                            gap: 15px;
                            margin: 10px 0;
                        }

                        &__description {
                            width: 100%;
                            display: flex;
                            gap: 10px;

                            textarea {
                                width: 85%;
                                border-radius: 12px;
                                background-color: white;
                                border: 1px solid #DBE4F2;
                                padding: 15px;
                                font-size: 16px;
                                color: #9DB0CB;
                                font-family: 'YekanBakh';
                                font-weight: 100;
                            }
                        }
                    }
                }

                &__footer {
                    display: flex;
                    justify-content: space-between;

                    span {
                        font-size: 16px;
                        font-weight: 100;
                        color: #20C5BA;
                    }

                    button {
                        background-color: #EEF2F7;
                        border-radius: 12px;
                        padding: 5px 70px;
                        border: none;
                        color: #9DB0CB;
                        font-size: 16px;
                        font-weight: 200;
                        font-family: "YekanBakh";
                        &.submotButton{
                            &.allFilled{
                                background-color: #1FC5B9;
                                color: white;
                            }
                        }

                        &:hover {
                            background-color: #009191 !important;
                            cursor: pointer;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

footer {
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: #F5F7FA;
    min-height: 250px;
    align-items: center;
    padding-bottom: 150px;

    h3 {
        font-size: 40px;
        font-weight: 100;
        color: #042623;
    }

    .successProject {
        display: flex;
        justify-content: center;
        gap: calc(100% / 6);

        img {
            filter: grayscale(100%);

            &:hover {
                filter: grayscale(0%);
                cursor: pointer;
            }
        }
    }
}