@charset "UTF-8";
@media (max-width: 768px) {
  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  *::-webkit-scrollbar {
    display: none;
  }

  .projectList__section {
    margin-bottom: 50px !important;
    max-width: 90% !important;
  }
  .projectList__section__title {
    text-align: right !important;
  }
  .projectList__section__title h2 {
    font-size: 24px !important;
  }
  .projectList__section__title span {
    font-size: 14px !important;
  }
  .projectList__section__nav__navtabs {
    margin-top: 20px !important;
    padding-bottom: 15px;
    overflow-x: auto;
    white-space: nowrap;
  }
  .projectList__section__nav__navtabs__item {
    border-radius: 12px !important;
    padding: 3px 8px !important;
    background-color: rgba(0, 186, 186, 0.1) !important;
  }
  .projectList__section__nav__navtabs__item img {
    display: none;
  }
  .projectList__section__nav__navtabs__item span {
    font-size: 15px !important;
    color: #00BABA !important;
    opacity: 100% !important;
  }
  .projectList__section__nav__navtabs__item.active {
    background-color: #00BABA !important;
  }
  .projectList__section__nav__navtabs__item.active span {
    color: white !important;
  }
  .projectList__section__nav__contents {
    padding: 0 !important;
    margin-top: 20px !important;
    background-color: transparent !important;
  }
  .projectList__section__nav__contents__pane .card {
    padding: 2px 14px !important;
    border-bottom: none !important;
    background-color: #E7ECF4 !important;
    border-radius: 16px;
    margin: 10px 0 !important;
  }
  .projectList__section__nav__contents__pane .card.open {
    background-color: white !important;
  }
  .projectList__section__nav__contents__pane .card__header__title__text {
    text-align: right !important;
  }
  .projectList__section__nav__contents__pane .card__header__title__text img {
    display: none !important;
  }
  .projectList__section__nav__contents__pane .card__header__title__icon {
    padding: 0 !important;
    border-radius: 0 !important;
    background-color: transparent !important;
  }
  .projectList__section__nav__contents__pane .card__header__title__icon.open {
    background-color: transparent !important;
  }
  .projectList__section__nav__contents__pane .card__collapse__body__mobileSendSuguest {
    display: block !important;
    margin: 15px 0;
    color: #FAFAFA;
    border: none;
    width: 100%;
    background: #00BABA;
    border-radius: 12px;
    padding: 5px;
    font-weight: 200;
    font-family: "YekanBakh";
  }
  .projectList__section__nav__contents__pane .card__collapse__body__define {
    padding: 20px !important;
    border: 1px solid #E7ECF4;
    border-radius: 16px;
    margin: 20px auto;
  }
  .projectList__section__nav__contents__pane .card__collapse__body__define h2 {
    font-size: 16px !important;
    font-weight: 200;
  }
  .projectList__section__nav__contents__pane .card__collapse__body__summarize {
    display: block !important;
  }
  .projectList__section__nav__contents__pane .card__collapse__body__summarize__block {
    width: 80% !important;
    margin-bottom: 16px;
  }
  .projectList__section__nav__contents__pane .card__collapse__body__source {
    border: 1px solid #E7ECF4 !important;
    display: block !important;
  }
  .projectList__section__nav__contents__pane .card__collapse__body__source__mobileLink {
    display: flex !important;
    font-size: 12px;
    text-align: center;
    color: #6A7D9B;
    justify-content: center;
  }
  .projectList__section__nav__contents__pane .card__collapse__body__source .source__link {
    align-items: center;
  }
  .projectList__section__nav__contents__pane .card__collapse__body__source .source__link__content .link {
    display: none !important;
  }
  .projectList__section__nav__contents__pane .card__collapse__body__source .source__author {
    display: none !important;
  }

  .courseStructure__section {
    max-width: 90% !important;
    padding-bottom: 80px !important;
  }
  .courseStructure__section hr {
    display: none !important;
  }
  .courseStructure__section__title h2 {
    font-size: 24px !important;
  }
  .courseStructure__section__description {
    font-size: 14px !important;
  }
  .courseStructure__section__nav__navtabs {
    width: 100% !important;
    font-size: 15px !important;
    overflow-x: auto;
    padding-bottom: 15px;
    gap: 30px;
  }
  .courseStructure__section__nav__navtabs__item {
    border-radius: 12px !important;
    padding: 3px 8px !important;
    background-color: #D4DFEE !important;
    color: #697D9A !important;
  }
  .courseStructure__section__nav__navtabs__item span {
    white-space: nowrap;
  }
  .courseStructure__section__nav__navtabs__item.activeCourse {
    background-color: #00BABA !important;
  }
  .courseStructure__section__nav__navtabs__item.activeCourse span {
    color: white !important;
  }
  .courseStructure__section__nav__contents__pane {
    width: 100% !important;
    padding: 30px !important;
    margin-top: 24px !important;
  }
  .courseStructure__section__nav__contents__pane__content h2 {
    font-size: 20px !important;
    font-weight: 200;
    color: #20C5BA !important;
  }

  .submit__section {
    max-width: 90% !important;
    padding-bottom: 60px !important;
  }
  .submit__section__title {
    margin-bottom: 45px;
  }
  .submit__section__title h2 {
    color: #0B3A42 !important;
  }
  .submit__section__title span {
    font-size: 14px !important;
    color: #155A6D !important;
  }
  .submit__section__content__form__field {
    background-color: white !important;
    padding: 0px !important;
  }
  .submit__section__content__form__field h3 {
    border-right: 4px solid #20C5BA;
    border-radius: 5px 0 0 5px;
    padding-right: 17px;
  }
  .submit__section__content__form__field__personalInfo__input {
    display: block !important;
    width: 100% !important;
    border: 1px solid #DBE4F2;
    border-radius: 12px;
    padding: 5px 15px;
  }
  .submit__section__content__form__field__personalInfo__input input {
    display: none !important;
  }
  .submit__section__content__form__field__resume .uploadFile {
    border: none !important;
  }
  .submit__section__content__form__field__resume .uploadFileNotif {
    display: none !important;
  }
  .submit__section__content__form__field__resume .reqireInputHandler {
    display: flex;
  }
  .submit__section__content__form__field__resume__resumeDoc {
    width: 100% !important;
    border: 1px solid #DBE4F2;
    border-radius: 12px;
    padding-right: 5px;
  }
  .submit__section__content__form__field__resume__potfolio {
    border: 1px solid #DBE4F2;
    border-radius: 12px;
    padding-right: 5px;
    width: 100% !important;
  }
  .submit__section__content__form__field__description {
    gap: 5px !important;
  }
  .submit__section__content__form__field__description select {
    width: 60% !important;
  }
  .submit__section__content__form__field__description__kind {
    width: 100% !important;
    background-color: #E7ECF4 !important;
    border-radius: 12px;
    padding-right: 5px;
  }
  .submit__section__content__form__field__description__level {
    width: 100% !important;
    background-color: #E7ECF4 !important;
    border-radius: 12px;
    padding-right: 5px;
  }
  .submit__section__content__form__field__description__description {
    width: 100%;
    display: flex;
    gap: 10px;
  }
  .submit__section__content__form__field__description__description .inputTiltle {
    display: none;
  }
  .submit__section__content__form__field__description__description textarea::placeholder {
    color: #9DB0CB !important;
  }
  .submit__section__content__form__footer {
    display: grid !important;
    gap: 22px !important;
  }

  footer h3 {
    font-size: 24px !important;
    color: #0B3A42 !important;
  }
  footer .successProject {
    flex-wrap: wrap;
    gap: 0 !important;
  }
  footer .successProject img {
    margin: 15px;
  }
}
@font-face {
  font-family: "YekanBakh";
  font-weight: 200;
  src: url(../asset//font/bold/YekanBakh-Bold.ttf) format("ttf"), url(../asset/font/bold/YekanBakh-Bold.woff) format("woff"), url(../asset/font/bold/YekanBakh-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "YekanBakh";
  font-weight: 100;
  src: url(../asset//font/medium/YekanBakh-Medium.ttf) format("ttf"), url(../asset/font/medium/YekanBakh-Medium.woff) format("woff"), url(../asset/font/medium/YekanBakh-Medium.woff2) format("woff2");
}
body {
  direction: rtl;
  box-sizing: border-box;
  margin: 0;
  font-family: "YekanBakh";
}
body button:focus {
  outline: none !important;
}

.projectList {
  background-color: #F5F7FA;
}
.projectList__section {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: calc(3%);
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 150px;
}
.projectList__section__title {
  display: grid;
  justify-content: center;
  text-align: center;
}
.projectList__section__title h2 {
  font-weight: 100;
  font-size: 40px;
  color: #0B3A42;
}
.projectList__section__title span {
  font-weight: 100;
  font-size: 18px;
  color: #155A6D;
}
.projectList__section__nav__navtabs {
  margin-top: 46px;
  display: flex;
  gap: 26px;
}
.projectList__section__nav__navtabs__item {
  cursor: pointer;
  padding: 17px 40px;
  background-color: #E7ECF4;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.projectList__section__nav__navtabs__item span {
  font-size: 19px;
  color: #6A7D9B;
}
.projectList__section__nav__navtabs__item.active {
  background-color: white;
}
.projectList__section__nav__contents {
  background-color: white;
  min-height: 500px;
  padding: 27px 0;
}
.projectList__section__nav__contents__pane {
  max-width: 90%;
  margin: auto;
  display: none;
}
.projectList__section__nav__contents__pane.active {
  display: block;
}
.projectList__section__nav__contents__pane .card {
  padding: 24px;
  border-bottom: 1px solid #D8E1EF;
}
.projectList__section__nav__contents__pane .card.open {
  border: 2px solid #20C5BA;
  border-radius: 16px;
  padding: 30px;
}
.projectList__section__nav__contents__pane .card.open .card__header__title__icon {
  background-color: #20C5BA;
}
.projectList__section__nav__contents__pane .card.open .card__header__title__icon--up {
  display: block;
}
.projectList__section__nav__contents__pane .card.open .card__header__title__icon--down {
  display: none;
}
.projectList__section__nav__contents__pane .card__header__title {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 18px;
  color: #4D4D4D;
  font-weight: 100;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.projectList__section__nav__contents__pane .card__header__title__icon {
  padding: 5px;
  border-radius: 50%;
  background-color: #E7ECF4;
}
.projectList__section__nav__contents__pane .card__header__title__icon--up {
  display: none;
}
.projectList__section__nav__contents__pane .card__header__title__icon--down {
  display: block;
}
.projectList__section__nav__contents__pane .card__collapse {
  display: none;
}
.projectList__section__nav__contents__pane .card__collapse.show {
  display: block;
}
.projectList__section__nav__contents__pane .card__collapse__body__mobileSendSuguest {
  display: none;
}
.projectList__section__nav__contents__pane .card__collapse__body__summarize {
  display: flex;
  justify-content: space-between;
}
.projectList__section__nav__contents__pane .card__collapse__body__summarize__block {
  width: calc(100% / 4 - 65px);
  text-align: center;
  display: flex;
  background: #F6F8FB;
  border-radius: 16px;
  padding: 25px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.projectList__section__nav__contents__pane .card__collapse__body__summarize__block span.title {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 200;
  color: #253343;
}
.projectList__section__nav__contents__pane .card__collapse__body__summarize__block span.content {
  font-size: 16px;
  font-weight: 100;
  color: #6A7D9B;
}
.projectList__section__nav__contents__pane .card__collapse__body__define ul {
  list-style: none;
}
.projectList__section__nav__contents__pane .card__collapse__body__define ul li {
  font-size: 16px;
  color: #6A7D9B;
  font-weight: 100;
}
.projectList__section__nav__contents__pane .card__collapse__body__define ul li::before {
  content: "•";
  color: #20C5BA;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-right: -1em;
}
.projectList__section__nav__contents__pane .card__collapse__body__define__title {
  display: flex;
  gap: 15px;
  margin-top: 40px;
  color: #253343;
  font-size: 16px;
  font-weight: 200;
}
.projectList__section__nav__contents__pane .card__collapse__body__source {
  border: 2px solid #E7ECF4;
  border-radius: 16px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projectList__section__nav__contents__pane .card__collapse__body__source__mobileLink {
  display: none;
}
.projectList__section__nav__contents__pane .card__collapse__body__source .source__link {
  display: flex;
  gap: 15px;
}
.projectList__section__nav__contents__pane .card__collapse__body__source .source__link__content {
  display: grid;
}
.projectList__section__nav__contents__pane .card__collapse__body__source .source__link__content .title {
  font-size: 16px;
  font-weight: 200;
  color: #253343;
}
.projectList__section__nav__contents__pane .card__collapse__body__source .source__link__content .link {
  font-size: 16px;
  font-weight: 200;
  color: #6A7D9B;
}
.projectList__section__nav__contents__pane .card__collapse__body__source .source__author {
  border: 2px solid #D8E1EF;
  border-radius: 12px;
  padding: 8px 20px;
  display: flex;
  align-items: center;
}
.projectList__section__nav__contents__pane .card__collapse__body__source .source__author span {
  font-size: 16px;
  font-weight: 200;
  color: #6A7D9B;
}

.courseStructure {
  background-color: #EEF2F7;
}
.courseStructure__section {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: calc(3%);
  padding-bottom: 150px;
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
}
.courseStructure__section hr {
  color: #9DB0CB;
  opacity: 20%;
  margin-top: -1px;
}
.courseStructure__section__title {
  display: flex;
  gap: 16px;
}
.courseStructure__section__title h2 {
  font-size: 40px;
  font-weight: 100;
  color: #0B3A42;
}
.courseStructure__section__description {
  font-size: 18px;
  font-weight: 100;
  color: #155A6D;
}
.courseStructure__section__nav__navtabs {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 50px;
  color: #9DB0CB;
  font-size: 18px;
  font-weight: 100;
}
.courseStructure__section__nav__navtabs a {
  cursor: pointer;
}
.courseStructure__section__nav__navtabs__item.activeCourse {
  border-bottom: 2.5px solid #20C5BA;
}
.courseStructure__section__nav__navtabs__item.activeCourse span {
  color: #042623;
}
.courseStructure__section__nav__contents__pane {
  width: 80%;
  margin: auto;
  padding: 35px;
  box-sizing: border-box;
  border: 2px solid #20C5BA;
  margin-top: 40px;
  border-radius: 16px;
  background-color: white;
  min-height: 250px;
  display: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.courseStructure__section__nav__contents__pane.active {
  display: block;
}
.courseStructure__section__nav__contents__pane__content h2 {
  font-size: 24px;
  font-weight: 200;
  color: #0E7571;
}
.courseStructure__section__nav__contents__pane__content p {
  font-size: 18px;
  font-weight: 100;
  color: #697D9A;
}
.courseStructure__section__nav__contents__pane__content h3 {
  font-size: 18px;
  font-weight: 200;
  color: #20C5BA;
}

.submit {
  background-color: white;
}
.submit .requireSign {
  font-size: 16px;
  font-weight: 200;
  color: #20C5BA;
}
.submit__section {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: calc(3%);
  padding-bottom: 150px;
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
}
.submit__section__title {
  margin-bottom: 45px;
}
.submit__section__title h2 {
  font-size: 24px;
  font-weight: 200;
  color: #042623;
}
.submit__section__title span {
  font-size: 16px;
  font-weight: 100;
  color: #6E6E6E;
}
.submit__section__content__form .inputTiltle {
  font-size: 16px;
  font-weight: 200;
  color: #585858;
}
.submit__section__content__form__field {
  padding: 20px;
  background-color: #F5F7FA;
  border-radius: 16px;
  margin-bottom: 24px;
}
.submit__section__content__form__field h3 {
  font-size: 22px;
  font-weight: 100;
  color: #155A6D;
}
.submit__section__content__form__field__personalInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.submit__section__content__form__field__personalInfo__input {
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin: 10px 2.5%;
  align-items: center;
}
.submit__section__content__form__field__personalInfo__input ::placeholder {
  font-size: 16px;
  font-weight: 100;
  color: #9DB0CB;
  font-family: "YekanBakh";
}
.submit__section__content__form__field__personalInfo__input span {
  font-size: 16px;
  font-weight: 200;
  color: #585858;
}
.submit__section__content__form__field__personalInfo__input input {
  border-radius: 12px;
  border: 1px solid #DBE4F2;
  width: 75%;
  padding: 10px;
}
.submit__section__content__form__field__resume {
  display: flex;
  flex-wrap: wrap;
  width: 83%;
  margin: auto;
  gap: 40px;
}
.submit__section__content__form__field__resume .uploadFile {
  width: 80%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #DBE4F2;
  border-radius: 12px;
  background: white;
}
.submit__section__content__form__field__resume .uploadFile.sizeError {
  border: 1px solid #F77D7D;
}
.submit__section__content__form__field__resume .uploadFile.sizeError .uploadFile__button {
  color: #FE5959;
}
.submit__section__content__form__field__resume .uploadFile input[type=file] {
  display: none;
}
.submit__section__content__form__field__resume .uploadFile__button {
  padding: 5px 9px;
  border: 1px solid #DBE4F2;
  background-color: #EEF2F7;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 200;
  cursor: pointer;
  color: #9DB0CB;
}
.submit__section__content__form__field__resume .uploadFile__filename {
  font-size: 14px;
  font-weight: 100;
  color: #20C5BA;
  align-items: center;
  display: flex;
  padding: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 13ch;
}
.submit__section__content__form__field__resume .uploadInputField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.submit__section__content__form__field__resume .uploadInputField__contetn {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 15px;
}
.submit__section__content__form__field__resume .uploadInputField .uploadFileNotif {
  font-size: 14px;
  font-weight: 100;
  color: #9DB0CB;
  width: 100%;
  text-align: left;
  margin: 10px 0;
}
.submit__section__content__form__field__resume .uploadInputField .uploadFileNotif.Error {
  color: #FE5959;
}
.submit__section__content__form__field__resume__resumeDoc {
  width: calc(100% / 2 - 20px);
}
.submit__section__content__form__field__resume__potfolio {
  width: calc(100% / 2 - 20px);
}
.submit__section__content__form__field__description {
  display: flex;
  flex-wrap: wrap;
  width: 83%;
  margin: auto;
  gap: 40px;
  justify-content: space-between;
  gap: 40px;
}
.submit__section__content__form__field__description select {
  width: 75%;
  border-radius: 12px;
  border: none;
  padding: 10px;
  background-color: #E7ECF4;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../asset/Component 20 – 27.svg");
  background-repeat: no-repeat;
  background-position-x: 5%;
  background-position-y: 50%;
  font-size: 16px;
  color: #6A7D9B;
  font-weight: 100;
  font-family: "YekanBakh";
}
.submit__section__content__form__field__description select:focus-visible {
  outline: none !important;
}
.submit__section__content__form__field__description option {
  background-color: white;
  border: 2px solid #D5DDE7;
  border-radius: 12px;
  padding: 20px;
  font-size: 16px;
  color: #6A7D9B;
  font-weight: 100;
  font-family: "YekanBakh";
}
.submit__section__content__form__field__description__kind {
  width: calc(100% / 2 - 20px);
  display: flex;
  gap: 15px;
  margin: 10px 0;
  align-items: center;
}
.submit__section__content__form__field__description__level {
  align-items: center;
  width: calc(100% / 2 - 20px);
  display: flex;
  gap: 15px;
  margin: 10px 0;
}
.submit__section__content__form__field__description__description {
  width: 100%;
  display: flex;
  gap: 10px;
}
.submit__section__content__form__field__description__description textarea {
  width: 85%;
  border-radius: 12px;
  background-color: white;
  border: 1px solid #DBE4F2;
  padding: 15px;
  font-size: 16px;
  color: #9DB0CB;
  font-family: "YekanBakh";
  font-weight: 100;
}
.submit__section__content__form__footer {
  display: flex;
  justify-content: space-between;
}
.submit__section__content__form__footer span {
  font-size: 16px;
  font-weight: 100;
  color: #20C5BA;
}
.submit__section__content__form__footer button {
  background-color: #EEF2F7;
  border-radius: 12px;
  padding: 5px 70px;
  border: none;
  color: #9DB0CB;
  font-size: 16px;
  font-weight: 200;
  font-family: "YekanBakh";
}
.submit__section__content__form__footer button.submitButton.allFilled {
  background-color: #1FC5B9;
  color: white;
}
.submit__section__content__form__footer button:hover {
  background-color: #009191 !important;
  cursor: pointer;
  color: white;
}

footer {
  display: grid;
  justify-content: center;
  text-align: center;
  background-color: #F5F7FA;
  min-height: 250px;
  align-items: center;
  padding-bottom: 150px;
}
footer h3 {
  font-size: 40px;
  font-weight: 100;
  color: #042623;
}
footer .successProject {
  display: flex;
  justify-content: center;
  gap: calc(100% / 6);
}
footer .successProject img {
  filter: grayscale(100%);
}
footer .successProject img:hover {
  filter: grayscale(0%);
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
